<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodBazarManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="https://fonts.googleapis.com/css?family=Antic&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="Sidebar">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                <li><a asp-controller="Home" asp-action="FoodList">Food List</a></li>
                <li><a asp-controller="Home" asp-action="OrderManager">Order Manager</a></li>
                <li><a asp-controller="Home" asp-action="CustomerFeedback">Customer Feedback</a></li>
                <li><a asp-controller="Home" asp-action="Employee">Employee</a></li>
                <li><a asp-controller="Home" asp-action="Setting">Setting</a></li>
            </ul>
        </div>

        <main role="main" class="pb-3">
            @RenderBody()
            
        </main>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - FoodBazarManagementSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
