
@{
    ViewData["Title"] = "Employee";
}

<h1>Employee</h1>
<div class="row">
    <div class="col-md-8">
        <h2>Employee Attendance</h2><br />
        Web CAm

    </div>
    <div class="col-md-4 border-left" style="width:100%">
        <div class="d-inline-flex">
            <h2>Active Employee<span class="badge badge-primary">5</span></h2>
            <button class="btn btn-primary" asp-action="EmployeeRegistration">Employee Registration</button>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Hafiz</li>
            <li class="list-group-item">Al Muktaki</li>
            <li class="list-group-item">Emran</li>
            <li class="list-group-item">Saif</li>
            <li class="list-group-item">Momin</li>
        </ul>
    </div>
</div>
